<div id="container">
  <h1>{{name}}</h1>
  <ul>
    <li>age: {{age}}</li>
    <li>Email: {{email}}</li>
    <li>{{address.street}} {{address.city}}, {{address.country}}</li>
  </ul>

  <button (click)="onClick()">Click me</button>
  <button (click)="toggleEdit()">Edit User</button>
  
  <div *ngIf=isEdit>
    <h1>Edit User</h1>
    <form>
      <div>
        <label for="name">Name: </label>
        <input type="text" [(ngModel)]="name" name="name">
      </div>
      <div>
        <label for="age">Age: </label>
        <input type="number" [(ngModel)]="age" name="age">
      </div>
      <div>
        <label for="email">Email: </label>
        <input type="email" [(ngModel)]="email" name="email">
      </div>
      <div>
        <label for="street">Street: </label>
        <input type="text" [(ngModel)]="address.street" name="street">
      </div>
      <div>
        <label for="city">City: </label>
        <input type="text" [(ngModel)]="address.city" name="city">
      </div>
      <div>
        <label for="country">Country: </label>
        <input type="text" [(ngModel)]="address.country" name="country">
      </div>
    </form>
  </div>
  <h1>Hobbies</h1>
  <form (submit)="addHobby(hobby.value)">
    <div>
      <label for="hobby">Hobby:</label>
      <input type="text" #hobby>
    </div>
  </form>
  <ul>
    <li *ngFor="let hobby of hobbies, let i = index">
      {{i + 1}}{{hobby}} <button (click)="deleteHobby(hobby)">X</button>
    </li>
  </ul>
</div>