/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
    background-color: lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
}
ul {
    list-style: none;
}
li {
    border-bottom: 1px solid gray;
}
label {
    font-weight: bold;
}
input {
    border-radius: 5px;
}
#container {
    width: 75vw;
    height: 600px;
    margin: 0 auto;
    border: 1px solid gray;
    background-color: white;
}
button {
    background-color: #2b7235;
    color: white;
    cursor: pointer;
}
